SQL And SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [ ]:
import sqlite3

# to make connection
connection=sqlite3.connect('example.db')
print(connection)

<sqlite3.Connection object at 0x0000013CA27ED4E0>

In [4]:
cursor=connection.cursor()

In [ ]:
#create a table
cursor.execute('''create table student(name varchar, rollno integer)''')

In [ ]:
#insert data in the table
cursor.execute("insert into student(name,rollno) values('Aditya',34)")
cursor.execute("insert into student(name,rollno) values('Aman',24)")
connection.commit() #cursor.execute("commit")

In [15]:
#reading data from the table    
cursor.execute('select *from student')
data=cursor.fetchall()
for i in data:
    print(i)
    
cursor.execute('select *from student')
data=cursor.fetchone()
print(data)

('Aditya', 32)
('Aman', 24)
('Aditya', 32)

In [16]:
#update data in the table
cursor.execute("UPDATE student set rollno=28 where name='Aditya'")
cursor.execute('commit')

In [17]:
data=cursor.execute('select *from student')
for i in data:
    print(i)

('Aditya', 28)
('Aman', 24)

In [18]:
#delete data from the table
cursor.execute("delete from student where name='Aman'")
cursor.execute('commit')

In [19]:
data=cursor.execute('select *from student')
for i in data:
    print(i)

('Aditya', 28)

In [24]:
#insert many data in the table
data=[
    ('Ajay',29),
    ('Ankit',30),
    ('Varad',31),
    ('Yash',32)
]

cursor.executemany("insert into student(name,rollno) values(?,?)",data)
cursor.execute('commit')

In [25]:
cursor.execute('select *from student')
for i in cursor:
    print(i)

('Aditya', 28)
('Ajay', 29)
('Ankit', 30)
('Varad', 31)
('Yash', 32)

In [26]:
connection.close()