# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [1]:
import sqlite3
connection=sqlite3.connect("test.db")

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [ ]:
cursor=connection.cursor()
cursor.execute("create table employees(id integer,name varchar,age integer, department text)")

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [13]:
cursor.execute(''' insert into employees(id,name,age,department) 
               values(1,'John',25,'Sales') ''')
connection.commit()

2. Insert at least 5 different employees into the `employees` table.

In [11]:
data=[
    (2,'Doe',28,'Business'),
    (3,'Smith',35,'Science'),
    (4,'Johnson',22,'Art'),
    (5,'Williams',45,'History'),
    (6,'Jones',38,'Math'),
]

cursor.executemany(''' insert into employees(id,name,age,department) 
                   values(?,?,?,?) ''', data)
connection.commit()

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [14]:
cursor.execute('select *from employees')
for i in cursor:
    print(i)

(2, 'Doe', 28, 'Business')
(3, 'Smith', 35, 'Science')
(4, 'Johnson', 22, 'Art')
(5, 'Williams', 45, 'History')
(6, 'Jones', 38, 'Math')
(1, 'John', 25, 'Sales')

2. Write a Python function to fetch and display all employees from a specific department.

In [20]:
cursor.execute("select *from employees where department='Science'")
for i in cursor:
    print(i)

(3, 'Smith', 35, 'Science')

### Assignment 4: Updating Data

Update the department of at least 2 employees and display the updated records.

In [4]:
data=[(2,'Commerce'),(5,'PCM')]
for id,department in data:
    cursor.executemany(''' update employees set department=? where id=?''',data)

connection.commit()

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [5]:
cursor.execute("select *from employees where age>35")
for i in cursor:
    print(i)

(5, 'Williams', 45, 'History')
(6, 'Jones', 38, 'Math')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [12]:
def fetch_employees_name_starts_with(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_employees_name_starts_with('D')

(2, 'Doe', 28, 'Business')

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [11]:
def insert_multiple_employees(employees):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            INSERT INTO employees (id, name, age, department)
            VALUES (?, ?, ?, ?)
        ''', employees)
        conn.commit()
        print("All employees inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function with valid and invalid data
employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    (6, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]
insert_multiple_employees(employees)

All employees inserted successfully.

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [17]:
def update_multiple_employees_ages(updates):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            UPDATE employees
            SET age = ?
            WHERE id = ?
        ''', updates)
        conn.commit()
        print("All employee ages updated successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function with valid and invalid data
updates = [
    (32, 1),
    (26, 2),
    (33, 3),
    (41, 4), 
    (23, 5)
]
update_multiple_employees_ages(updates)

All employee ages updated successfully.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [18]:
def create_departments_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute(''' CREATE TABLE IF NOT EXISTS departments (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL
        )''')
    print("Table 'departments' created successfully.")
    conn.close()

# Test the function
create_departments_table()

Table 'departments' created successfully.

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

In [ ]:
def add_department_foreign_key():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.executescript('''
        ALTER TABLE employees RENAME TO old_employees;
        CREATE TABLE employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT,
            department_id INTEGER,
            FOREIGN KEY(department_id) REFERENCES departments(id)
        );
        INSERT INTO employees (id, name, age, department)
        SELECT id, name, age, department FROM old_employees;
        DROP TABLE old_employees;
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' modified successfully.")

# Test the function
add_department_foreign_key()

3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [25]:
def insert_department_and_employee(department_id, department_name, employee_id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.execute('''
            INSERT INTO departments (id, name)
            VALUES (?, ?)
        ''', (department_id, department_name))
        cursor.execute('''
            INSERT INTO employees (id, name, age, department, department_id)
            VALUES (?, ?, ?, ?, ?)
        ''', (employee_id, name, age, department, department_id))
        conn.commit()
        print("Department and employee inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function
insert_department_and_employee(1, 'Finance', 10, 'Zara', 28, 'Finance')

Department and employee inserted successfully.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.

In [26]:
def create_index_on_name():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('CREATE INDEX idx_name ON employees(name)')
    conn.commit()
    conn.close()
    print("Index on 'name' column created successfully.")

# Test the function
create_index_on_name()

Index on 'name' column created successfully.

2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [27]:
import time

def fetch_employees_name_starts_with_performance(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    for record in records:
        print(record)

# Test the function with the index
fetch_employees_name_starts_with_performance('A')

Time taken: 0.0004620552062988281 seconds

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

In [28]:
import shutil

def backup_database():
    shutil.copy('test.db', 'backup.db')
    print("Database backed up successfully.")

# Test the function
backup_database()

Database backed up successfully.

2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [29]:
def restore_database():
    shutil.copy('backup.db', 'test.db')
    print("Database restored successfully.")

# Test the function
restore_database()

Database restored successfully.