**Introduction To Tuples**
- Tuples are ordered, immutable collections of items.
- They can contain items of different data types inside a round bracket.

In [58]:
t=tuple()
print(t)
print(type(t))

()
<class 'tuple'>

In [2]:
# list to tuple conversion
t1=tuple([1,2,3,4])
print(t1)  

#tuple to list conversion
t2=list((9,3,7))
print(t2)

(1, 2, 3, 4)
[9, 3, 7]

In [60]:
# Accessing tuple elements
name = ('aditya','aman','yash','ajay')
print(name[0])  
print(name[-1])
print(name[1:4])

aditya
ajay
('aman', 'yash', 'ajay')

In [63]:
#tuple methods
a=(1,2,3)
b=(4,5,6)
print(a+b) #concatenation
print(a*2)
print(a.count(1)) #Return number of occurrences of value.
print(a.index(3)) #Return first index of value.

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)
1
2

In [64]:
#packing tuples
packed_tup = 'aditya',18
print(packed_tup)

#unpacking tuples
name, age = packed_tup
print(name)
print(age)

#unpacking with *
first,*middle,last=(1,2,3,4,5,6)
print(first)
print(middle)
print(last)

('aditya', 18)
aditya
18
1
[2, 3, 4, 5]
6

In [65]:
# nested list
nested_list = [[1,2,3], [4,5,6,7]]
print(nested_list[1])
print(nested_list[1][2])
print(nested_list[1][0:2])

for sub_list in nested_list:
    for item in sub_list:
        print(item, end=' ')

[4, 5, 6, 7]
6
[4, 5]
1 2 3 4 5 6 7

In [54]:
# nested tuples
nested_tuple = (('Aditya','Aman','Ajay'), ('Ankit','yash','varad','anamika'))
print(nested_tuple[0])
print(nested_tuple[1][2])
print(nested_tuple[1][:3])

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=' ')

('Aditya', 'Aman', 'Ajay')
varad
('Ankit', 'yash', 'varad')
Aditya Aman Ajay Ankit yash varad anamika

In [57]:
#nested list with tuples
nested_list_with_tuples = [[1,2,3], (4,5,6,7)]
print(nested_list_with_tuples[0])
print(nested_list_with_tuples[1][:3])

for i in nested_list_with_tuples:
    for item in i:
        print(item, end=' ')

[1, 2, 3]
(4, 5, 6)
1 2 3 4 5 6 7