**Sets**
- Sets are a built-in data type in Python used to store collections of unique items.
- They are unordered, meaning that the elements do not follow a specific order. 
- They do not allow duplicate elements. 
- Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [6]:
s=set()
s1=set({1,2,3})
print(s)
print(s1)
print(type(s))

set()
{1, 2, 3}
<class 'set'>

**Set operations**

In [3]:
s={1,2,3,4} 
s.add(5) # Add an element to a set.
print(s)
s.remove(4) # Remove an element from a set. If the element is not a present, raise a KeyError
print(s)
s.discard(10) # Remove an element from a set. does not raise an exception when an element is missing from the set.
print(s)
s.pop() # removes random element from the set
print(s)
s.clear() #for removing all elements from the set
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}
{1, 2, 3, 5}
{2, 3, 5}
set()

In [8]:
# set membership test
my_set = {1,2,4,5}
print(1 in my_set)  
print(9 in my_set)

True
False

**Mathematical operations**

In [9]:
s1={1,2,3,4}
s2={2,4,8,5}
print(s1.union(s2)) #Return a new set by combining elements of both sets(without duplication).
print(s1.intersection(s2)) #Return a new set with elements common in both the set
print(s1.difference(s2)) #Return a new set with elements in the set that are not in the others
print(s1.symmetric_difference(s2)) #Return a new set with elements which are not common in both.

{1, 2, 3, 4, 5, 8}
{2, 4}
{1, 3}
{1, 3, 5, 8}

In [10]:
s1={2,6,8,12}
s2={2,8,10}
s1.update(s2) #perform union operation between s1 nd s2 and update output in s1.
print(s1)
print(s2)

{2, 6, 8, 10, 12}
{8, 2, 10}

In [11]:
s1={2,6,8,12}
s2={2,8,10}
s1.intersection_update(s2) # update set1 with the common elements present in both sets.
print(s1)
print(s2)

{8, 2}
{8, 2, 10}

In [12]:
s1={2,6,8,12}
s2={2,8,10}
s1.difference_update(s2) #perform difference operation between s1 nd s2 and update output in s1.
print(s1)
print(s2)

{6, 12}
{8, 2, 10}

In [13]:
s1={2,6,8,12}
s2={2,8,10}
s1.symmetric_difference_update(s2) #Update the set, keeping only elements found in either set, but not in both.
print(s1)
print(s2)

{10, 12, 6}
{8, 2, 10}

**Sets methods**

In [14]:
s1={1,2,3,4,5}
s2={3,4,5}
print(s1.issubset(s2)) #it checks whether s2 contains all elements of s1 or not
print(s1.issuperset(s2)) #it checks whether s1 contains all elements of s2 or not 
print(s1.isdisjoint(s2)) #Return True if no elements is common in both the sets.

False
True
False

**Common doubts**

In [15]:
l=list(1,2,3)
t=tuple(1,23,3)
s=set(1,23,3)
print(l,t,s)

TypeError: list expected at most 1 argument, got 3

In [1]:
#here we can pass a single arguments by grouping them with any brackets.
l=list([1,2,3])
t=tuple((1,23,3))
s=set({1,23,3}) 
print(l,t,s)

[1, 2, 3] (1, 23, 3) {1, 3, 23}

In [17]:
# here if we use any bracket then it will print link range(4) inside given bracket. 
l=list(range(4))
t=tuple(range(4))
s=set(range(4)) 
print(l,t,s)

[0, 1, 2, 3] (0, 1, 2, 3) {0, 1, 2, 3}

In [18]:
# here also no need to use any bracket if we use output remains same
l=list(i for i in range(5))
t=tuple(i for i in range(5))
s=set(i for i in range(5))
print(l,t,s)

[0, 1, 2, 3, 4] (0, 1, 2, 3, 4) {0, 1, 2, 3, 4}

In [19]:
#counting unique words in a text
text='In this tutorial we will be discussing about sets sets in'
words=text.split(' ')
unique_words=set(words)
print(unique_words)

{'sets', 'in', 'we', 'about', 'In', 'discussing', 'will', 'be', 'this', 'tutorial'}